[submodule "ft_malloc"]
	path = ft_malloc
	url = https://github.com/TeomanDeniz/ft_malloc
[submodule "minishell"]
	path = minishell
	url = git@github.com:TeomanDeniz/Minishell.git
[submodule "so_long"]
	path = so_long
	url = https://github.com/TeomanDeniz/so_long
[submodule "philosophers"]
	path = philosophers
	url = https://github.com/TeomanDeniz/Philosophers
[submodule "ft_math"]
	path = ft_math
	url = https://github.com/TeomanDeniz/ft_math
